
@{
    ViewData["Title"] = "About";
}

<h1 class="display-1 d-flex justify-content-center" style="color: seashell;">About</h1>


<div class="card mb-3 text-bg-dark">
  <div class="row g-0">
    <div class="col-md-4">
      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel" style="margin:15px;">
      <div class="carousel-inner">
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/aboutImg (2).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/aboutImg (3).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/aboutImg (4).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="~/images/aboutImg (5).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/aboutImg (6).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="~/images/aboutImg (7).jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">We are a Community</h5>
        <p class="card-text">
            The island of Puerto Rico has many of the most beautiful coast lines in the world, 
            consequently these coast lines received high volume of visitors throughout the year, 
            even higher on holidays. Many of the visitors bring multiple food, drinks, and many other items that contain 
            packaging plastics and other materials. Sadly, it has become an increasing problem that many of the visitors 
            leave these items behind contaminating the beautiful coastlines and posing risks to many maritime animals.
            <h5>It's our duty to protect our coastlines</h5>
            Every year millions of pounds of trash are left at beaches by both 
            locals and tourists. When all this trash stays behind in the shorelines it can be dragged into the ocean putting 
            many more ecosystems at risk. 
            <br/>
            <figure>
            <blockquote class="blockquote">
                <p>‘’Marine litter is not only ugly – it can harm ocean ecosystems, wildlife, and humans. 
                    It can injure coral reefs and bottom-dwelling species and entangle or drown ocean wildlife. 
                    Some marine animals ingest smaller plastic particles and choke or starve”
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                marinelittersolutions.com in <cite title="Source Title">What is marine debris? 2020</cite>
            </figcaption>
            </figure>
            Many individuals will gladly volunteer their time and help clean our coastlines, but to make a significant impact, many volunteers is often needed. 
            Many non-profit organizations perform coast rescue events (trash clean up), however they mostly do on an annual basis, which is not enough to fight 
            the pollution on our coastlines, and that when we come in.
            <br />
            <h5>Playas Limpias</h5>
            As a non-profit organization we provide this platform to allow anyone with the intention to raise volunteer and protect our coatslines.
        </p>
        <p class="card-text"><a class="btn btn-sm btn-outline-warning" asp-action="Index" asp-controller="Event">View Events</a></></p>
      </div>
    </div>
  </div>
</div >
<div style="margin-top:50px; margin-bottom:100px;"><a class="btn btn-sm btn-warning" href="https://www.drna.pr.gov/">Learn More</a></div>