@model PlayasLimpiasWebApp.Models.Event

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="display-4" src="~/images/HomeLogo.png"/>

    <div class="card" style="width: 18rem; display:inline-block; margin:20px;" >
        <img src="~/images/b1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
             @*<h5 class="card-title">@Model.Name</h5>
             <h6>@Model.Date</h6>
             <p>@Model.Description</p>
             <a asp-action="Details" asp-controller="Event" asp-route-id=@Model.Id>Details</a>*@
        </div>
    </div>

</div>
