@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="display-4" src="~/images/HomeLogo.png"/>

    <div class="card" style="width: 18rem; display:inline-block; margin:20px;" >
        <img src="~/images/b1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
             <h5 class="card-title">Event Name</h5>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
             <a asp-action="" asp-controller="">Details</a>
        </div>
    </div>

</div>
