@model PlayasLimpiasWebApp.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div>
    <h1 class="display-1" style="color: seashell;">Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" class="row g-3 needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required/>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <div class="invalid-feedback">
                    <strong>Please your enter username.</strong>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="password" required/>

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 20 20" onclick="showPassword()">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>

                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="invalid-feedback">
                    <strong>Please your password.</strong>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div style="color: seashell; margin-top:50px; margin-bottom:100px;">
    <h1>Don't have an account?</h1>
    <a asp-action="Register" class="btn btn-sm btn-outline-warning">Register here for free!</a>
</div>
</div>



<script>
function showPassword() {
  var x = document.getElementById("password");

  if (x.type === "password") 
  {
    x.type = "text";
  } 
  else 
  {
    x.type = "password";
  }
}
</script>